@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (max-width: 2500px) {
	html, body {
		margin:0;
		padding:0;
		height:100%;
	}
	
	#container {
		min-height: 100%;
		position: relative;
	}
	
	body {
		background-image: url('../img/twitter.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		text-align: center;
		font-family: 'Open Sans';
	}
	
	header button:hover {
		background: #3071A9;
	}
	
	main {
  		background-color: white;
		background-color:rgba(255,255,255,0.85);
		margin: 0 auto;
		width: 90%;
	}

	h2, h3, #about, #link {
		text-align: left;
		font-size: 18px;
		color: blue;
		padding: 1em;
	}

	p {
		text-align: left;
		font-size: 16px;
		color: black;
		padding: 1em;
	}

	#title {
		text-decoration: underline;
		font-weight: bold;
		font-size: 20px;
	}

	footer {
		text-decoration: italic;
		text-align: right;
		font-style: italic;
		color: red;
		padding: 1em;
		background-color: black;
		border-top: 5px #EC791F;
		height: 100px;
		clear: both;
		width: 100%;
		bottom: 0;
	}

	a:link {
		color:#0000AA;
		text-decoration: none;
	}

	a:visited {
		color:#0000AA;
	}

	a:hover {
		color:#0000EE;
	}
	
	#map-container {
		display: inline-block;
		position: relative;
		width: 90%;
	}
	
	#map-padding {
		margin-top: 50%; /* 4:3 aspect ratio */
	}
	
	#map-div {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#map-frame {
		width: 100%;
		height: 100%;
	}
}