<div>
    <h3>According to Twitter, there are more than 300 million monthly active users on Twitter. Multiply with the average number of tweets per user per month, and the amount of tweets is nearly unquantifiable. Thus, the amount of data is so large that organizing all of it becomes a significant challenge.</h3>
    <h3>Founded by University of Washington INFO 343 students Bilal, Ian, Kevin, and Manvir, the Twitter Database connects to the public Twitter API and allows ordinary internet users without coding experience to search and filter through tweets/data. (More specific information about how it works.)</h3>
    <h3>Why is this important? Twitter has become very popular to the extent where people all around the world are using this social networking site. In addition, the content of tweets range from personal events to breaking news. The diversity of content and users creates the massive opportunity for people to find interesting patterns in these data.</h3>
    <h3>To see some example data visualization patterns we have created, click on the "data" tab. For links to sources and other interesting pages, click on the "links" tab.</h3>
    <h2>Tweeting on a mobile applications is more popular, as it is easier to use and is accessible anywhere:</h2>
    <img src = "img/twitter-app.jpg" style = "width: 50, height: 50"></img>
    <h2>Interesting and popular tweets recently:</h2>
    <img src = "img/popular-tweets.JPG" style = "width: 50, height: 50"></img>
    <h2> Which iPhone emojis were used the most, in tweets in 2015 so far?</h2>
    <img src = "img/emoji.png" style = "width: 50, height: 25"></img>
</div>