<div>
    <h3>Data viz examples from database go here</h3>
    <h2><a href="https://dev.twitter.com/overview/documentation">-- Twitter Documentation</a></h2>
    <h2><a href="https://github.com/twitter">-- Twitter's Git Hub</a></h2>
    <h2>Tweeting on a mobile applications is more popular, as it is easier to use and is accessible anywhere:</h2>
    <img src = "img/twitter-app.jpg" style = "width: 50, height: 50"></img>
    <h2>Interesting and most popular tweets recently:</h2>
    <img src = "img/popular-tweets.JPG" style = "width: 50, height: 50"></img>
    <h2> Which iPhone emojis were used the most, in tweets in 2015 so far?</h2>
    <img src = "img/emoji.png" style = "width: 50, height: 25"></img>
</div>