<div>
    <h3>Data viz examples from database go here</h3>
    <h2>Tweeting on a mobile applications is more popular, as it is easier to use and is accessible anywhere:</h2>
    <img src = "img/twitter-app.jpg" style = "width: 50, height: 50"></img>
    <h2>Interesting and most popular tweets recently:</h2>
    <img src = "img/popular-tweets.JPG" style = "width: 50, height: 50"></img>
    <h2>A trend on Twitter refers to a hashtag-driven topic that is immediately popular at a particular time. A hashtag is a keyword or phrase that is preceded with a poiunt (#) sign. The following is an example of a few trending topics on Twitter recently:</h2>
    <img src = "img/TwitterTrends.png" style = "width: 50, height: 25"></img>
    <h2> Emojis are ideograms originally used in Japanese electronic messages, use of which has spread outside of Japan, especially used in text messages, instagram posts, and tweets. This chart displays the most popular emojis used the most, within tweets in the year 2015 so far:</h2>
    <img src = "img/emoji.png" style = "width: 50, height: 25"></img>
</div>